<div class="container">
	<h1>Login</h1>
	<%= form_with model: @user, url: users_login_path(@user) do |f| %>
		<div class="form-group">
			<%= f.label :username%>
			<%= f.text_field :username, class: 'form-control' %>
		</div>
		<div class="form-group">
			<%= f.label :password%>
			<%= f.password_field :password, class: 'form-control'%>
		</div>
		<div class="form-group">
			<%= f.submit "Login", class: "btn btn-primary"%>
		</div>
	<%end%>
	<% if @user.errors.any? %>
		<div class="container" id="error_explanation" style="color: red;">
			<h2><%= pluralize(@user.errors.count, "error") %> occured in your input:</h2>
			<ul style="list-style-type: none;">
				<% @user.errors.each do |error| %>
					<li>-- <%= error.message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
</div>